.panel-default > .panel-heading {
	padding: 0;
	border-style: none;
	background-color: #fff;
}

.panel {
	border: none;
	box-shadow: none;
	margin-bottom: 10px;
}

h4.panel-title > a {
	font-size: 1em;
	text-decoration: none;
}

h4.panel-title > a:after{
	content: "";
	display: inline-block;
	background: transparent url('/img/arrow_white.png') no-repeat;
	height: 11px;
	width: 10px;
	margin-bottom: -3px;
}

h4.panel-title > a:hover:after{
	content: "";
	display: inline-block;
	background: transparent url('/img/arrow_blue.png') no-repeat;
	height: 11px;
	color: #fff5c3;
	width: 10px;
	margin-bottom: -3px;
}

.event_desc_home {
	margin-top: 10px;
	line-height: 1.25em;
}

.event_desc_date {
	font-size: .85em;
}

.event_date_home {
	color: #8dcdc1;
	font-weight: bolder;
}