/*Alerts*/
.alert.alert-success, .alert.alert-danger {
	padding: 10px 0;
	margin-top: -15px;
	text-align: center;
}

/*Divs and Page Structure*/
.container {
	width: 90%;
	margin-bottom: 30px;
	position: relative;
}

.row {
	padding-left: 9px;
	padding-right: 9px;
}

.expand {
	height: auto;
}

html, body {
	height: 100%;
	margin: 0;
}

.footer.container {
	width: 60%;
	padding-top: 20px;
	padding-bottom: 20px;
}

body {
	background-color: #fffef4;
	color: #514e43;
	height: 100%;
	width: 100%;
	display: table;
}

footer {
	width: 100%;
	height: 1px;
	background-color: #7c786a;
	display: table-row;
}

div#login {
	position: absolute;
	min-width: 550px;
	height: auto;
	left: 50%;
	transform: translate(-50%, 48%);
}

div.login {
	background-color: #eb6e44;
	padding: 50px 75px;
	position: relative;
}

div.leaders {
	margin-bottom: 20px;
}

div.events_grid_image {
	height: 100px;
	width: 100px;
	overflow: hidden;
}

div.panel_white, div.main_panel {
	width: 100%;
	background-color: #fff;
	border: 1px solid #d3e397;
	min-height: 100%;
	margin-bottom: 15px;
}

div.panel_white {
	padding: 10px 25px 20px 25px;
}

div.panel_white.leaders {
	padding-bottom: 30px;
}

div.leader_buttons {
	margin-top: 12px;
}

div.main_panel {
	padding: 20px 40px 35px 40px;
}

.bottom8 {
	margin-bottom: 8px;
}

.bottom15 {
	margin-bottom: 15px;
}

.top8 {
	margin-top: 8px;
}

div.all_leaders {
	padding: 30px 30px;
}

div.users {
	padding-bottom: 50px;
}

div.manage_users {
	padding-bottom: 190px;
}

div.panel_white.social {
	text-align: center;
	padding-bottom: 30px;
}

div.panel_red, div.about_panel_red, div.panel_beige {
	width: 100%;
	background-color: #c65c39;
	padding: 10px 25px;
	border: 1px solid #514e43;
}

div.panel_red {
	text-align: center;
	margin-bottom: 15px;
}

div.panel_form {
	width: 100%;
	padding: 0 25px 10px 25px;
}

div.about_panel_red {
	padding: 20px 40px;
}

div.panel_green {
	width: 100%;
	padding: 5px 20px;
	background-color: #d3e397;
	border: 1px solid #b7c483;
	margin-bottom: 5px;
	margin-top: 20px;
	text-align: center;
}

div.panel_beige {
	background-color: #fff5c3;
	border: 1px solid #dbd5ac;
	margin-bottom: 7px;
	margin-top: 5px;
	text-align: center;
	padding: 5px 20px;
}

div#map {
	height: 300px;
	width: 100%;
	margin-bottom: 25px;
	margin-top: 15px;
	border: 1px solid #d3e397;
}

div.social_media {
	padding-bottom: 30px;
}

div.social_media_edit {
	margin-top: 30px;
}

div.checkboxes {
	margin: 10px 0;
}

/*div.all_events {
	background-color: #fff;
	border: 1px solid #d3e397;
	padding: 30px;
}*/

div.connection_feed, div.event_feed, div.rfp_feed {
	width: 100%;
	padding: 10px 20px;
	margin: 3px 0;
}

div.connection_feed {
	background-color: #f7e7e1;
}

div.event_feed {
	background-color: #f8f9f2;
}

div.rfp_feed {
	background-color: #eff6f4;
}

hr {
	margin: 10px 0;
}

hr.wide {
	margin-top: 10px;
	margin-bottom: 15px;
}

.user_grid {
	background-color: #fff;
	border: 1px solid #8dcdc1;
	padding: 10px;
	margin: 10px 0;
	width: 99%;
}

#nav_tabs {
	margin: 10px 0;
	border: none;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:visited, .nav-tabs > li.active > a:active {
	border: none;
	border-radius: 0;
	margin-left: 9px;
}

.nav-tabs > li.active > a {
	background-color: #8dcdc1;
	margin-right: 5px;
}

div.image_container {
	position: relative;
	max-height: 350px;
}

div.company_header_img {
	width: 100%;
	overflow: hidden;
	max-height: 350px;
	border: 1px solid #514e43;
}

img.company_header {
	object-fit: contain;
	width: inherit;
}

div.company_profile_img {
	width: 100px;
	height: 100px;
	position: absolute;
	top: 80%;
	left: 4%;
}

div.leader {
	width: 100px;
	height: 100px;
	overflow: hidden;
}

div.interior_form {
	padding: 0;
	margin-left: -8px;
	margin-right: -8px;
}

div.summary {
	background-color: #f6f6f6;
	padding: 20px 0 25px 0;
	margin: 10px 0 15px 0;
	text-align: center;
}

.panel-default > .panel-heading {
	padding: 0;
	border-style: none;
	background-color: #fff;
}

.panel {
	border: none;
	box-shadow: none;
	margin-bottom: 10px;
}

/*Text*/
body {
	font-family: 'Source Sans Pro', sans-serif;
}

.event_desc_home {
	margin-top: 10px;
	line-height: 1.25em;
}

	line-height: 1.5em;
	font-size: .9em;
}

.event_desc_date {
	font-size: .85em;
}

.event_date_home, .rfp_date {
	color: #8dcdc1;
	font-size: 1.05em;
}

.rfp_dates, .rfp_date {
	margin-bottom: 0;
}

h3.login {
	font: 1.25em 'Roboto Slab', serif;
	color: #fff5c3;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding-top: 0;
	margin-top: 0;
	margin-bottom: 15px;
}

h3.social {
	margin-bottom: 15px;
}

h3.rfps {
	margin-bottom: 0;
}

h3.abbreviation {
	margin-top: 3px;
}

h3.feed {
	margin-top: 5px;
}

h3.text-center.sm_bottom_margin {
	margin-bottom: 3px;
}

h1.company_name_profile {
	color: #c65c39;
	font-size: 2em;
}

h4.article_heading, h4.carousel_heading, h4.event_heading, h4.`, h4.event_heading_dash {
	color: #7c786a;
	margin-bottom: 5px;
	line-height: 1.25em;
}

h4.event_heading_dash {
	margin-top: -3px;
}

h4.article_heading_full {
	color: #66a498;
	margin-top: 25px;
	margin-bottom: 2px;
}

h4.project_showcase, h4.delete_user {
	margin-top: -13px;
	color: #b7c483;
	margin-bottom: 15px;
}

h4.delete_user {
	margin-bottom: 25px;
}

h5.leader_name {
	margin-bottom: 3px;
	color: #b7c483;
}

h1, h2, h3, h4, h5 {
	font-family: 'Roboto Slab', serif;
	color: #7c786a;
}

h1 {
	text-align: center;
	font-size: 1.75em;
	font-weight: 700;
	margin-top: 25px;
	margin-bottom: 45px;
}

h1.req {
	margin-bottom: 5px;
}

p.text-center.req {
	margin-bottom: 20px;
}

p.project_scope {
	margin-bottom: 35px;
}

p.event_company_name {
	color: #eb6e44;
	margin-bottom: 3px;
	margin-top: 2px;
}

h3.event_owner {
	margin-bottom: 3px;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.3em;
	color: #66a498;
	margin-bottom: 20px;
}

h3.red_panel_head {
	color: #fff5c3;
	margin-bottom: 10px;
}

h4 {
	font-size: 1.1em;
}

h4.footer {
	color: #d3e397;
}

p.red_panel_text {
	line-height: 1.25em;
	color: #fff;
}

p.dashboard_category {
	color: #7c786a;
	font-size: .85em;
	text-transform: uppercase;
}

p.delete_user_warning {
	margin-top: 15px;
	color: #66a498;
	font-weight: 700;
}

p.blue {
	color: #66a498;
}

span.deadline {
	color: #eb6e44;
}

p.event_boolean {
	color: #7c786a;
	font-size: .85em;
	margin: 0 15px 5px 0;
	display: inline-block;
}

p.company_name {
	color: #c65c39;
	font-weight: bold;
	font-size: 1.25em;
	margin-bottom: 0;
	margin-top: 15px;
}

p.industry_name_home {
	font-size: .9em;
	margin-bottom: 5px;
}

p.industry_name {
	color: #8dcdc1;
	margin-top: -2px;
}

p.company_desc_home {
	font-size: .85em;
	line-height: 1.25em;
}

p.company_desc {
	margin-top: -7px;
	font-size: .85em;
}

p.delete_user {
	font-size: .9em;
	margin-top: -10px;
}

p.article_desc, p.rfp_desc {
	margin-bottom: 20px;
}

span.article_date {
	font-size: .85em;
	color: #8dcdc1;
}

p.leader_title {
	font-family: 'Roboto Slab', serif;
	margin-bottom: 0;
	letter-spacing: .5px;
	font-size: .95em;
}

div.summary > p.text-center {
	margin-bottom: 20px;
}

ul.rfps, ul.rfps_all, ul.contact, ul.company_stats, ul.edit_account_nav {
	line-height: 1.25em;
	padding-left: 0;
	list-style: none;
	margin-bottom: 10px;
}

ul.rfps_all {
	line-height: 1.5em;
}

ul.company_stats {
	color: #fff;
	font-size: 1.05em;
	line-height: 1.5em;
}

ul.company_stats > li > span.strong {
	color: #fff5c3;
}

.pagination {
	border-radius: 0;
}

ul.pagination > li.active > span, ul.pagination > li.active > span:hover, ul.pagination > li > a:hover {
	background-color: #d3e397;
	border-color: #b7c483;
	color: #514e43;
}

ul.pagination > li > a, ul.pagination > li > a:visited {
	color: #514e43;
}

li.rfps {
	margin-left: 0;
	margin-bottom: 5px;
}

li.small_gray {
	font-size: .8em;
}

ul.edit_account_nav > li {
	background-color: #8dcdc1;
}

span.industry_name_home{
	font-weight: bold;
	color: #66a498;
}

span.strong, .strong {
	font-weight: bold;
}

span.strong.connection {
	color: #c65c39;
}

.footer_text {
	line-height: .5em;
	color: #dad6c7;
}

.footer_head {
	margin-bottom: 5px;
	font-weight: 700;
	color: #dad6c7;
}

ul.footer {
	list-style: none;
	padding-left: 0;
}

span.required {
	color: #eb6e44;
	font-weight: 700;
}

/*Links*/
a.green_bg:after, 
a.green_bg:hover:after, 
ul.footer > li > a.footer_triangle:after, 
ul.footer > li > a.footer_triangle:hover:after, 
div.login > a.forgot_password:hover:after, 
a.forgot_password:after, 
div.connect > form > button.btn.btn-primary.connect:after, 
div.connect > form > button.btn.btn-primary.connect:hover:after, 
div.connect > form > button.btn.btn-info.connect:after, 
div.connect > form > button.btn.btn-info.connect:hover:after, 
div.main_panel > div >  a.red_link.project:after, 
div.main_panel > div >  a.red_link.project:hover:after,
h4.panel-title > a:hover:after, 
h4.panel-title > a:after, 
a.beige_bg:after, 
a.beige_bg:hover:after, 
a.green_link:after, 
a.green_link:hover:after {
	content: "";
	display: inline-block;
	height: 11px;
	width: 10px;
	margin-bottom: -3px;
}

div.login > a.forgot_password:after, 
ul.footer > li > a.footer_triangle:hover:after, 
div.login > a.forgot_password:hover:after, 
ul.footer > li > a.footer_triangle:after, 
ul.footer > li > a.footer_triangle:after, 
a.green_bg:hover:after, a.green_bg:after, 
a.green_bg:hover:after, 
a.beige_bg:hover:after, a.beige_bg:after, a.green_link:after, 
a.green_link:hover:after,
h4.panel-title > a:hover:after, 
h4.panel-title > a:after, 
div.connect > form > button.btn.btn-primary.connect:after, 
div.connect > form > button.btn.btn-info.connect:after, 
div.connect > form > button.btn.btn-info.connect:hover:after, 
div.connect > form > button.btn.btn-primary.connect:hover:after {
	margin-left: 4px;
}

ul.edit_account_nav > li > a:after, h4.panel-title > a:hover:after {
	background: transparent url('/img/arrow_blue.png') no-repeat;
}

a.green_bg:after, div.connect > form > button.btn.btn-primary.connect:after, a.green_link:hover:after {
	background: transparent url('/img/arrow_green.png') no-repeat;
}

ul.footer > li > a.footer_triangle:after, a.green_bg:hover:after, a.beige_bg:hover:after {
	background: transparent url('/img/arrow_gray.png') no-repeat;
}

div.connect > form > button.btn.btn-primary.connect:hover:after, div.connect > form > button.btn.btn-info.connect:after, {
	background: transparent url('/img/arrow_dkblue.png') no-repeat;
}

div.main_panel > div >  a.red_link.project:after, h4.panel-title > a:after, a.green_link:after, div.connect > form > button.btn.btn-info.connect:hover:after {
	background: transparent url('/img/arrow_white.png') no-repeat;
}

div.login > a.forgot_password:after, div.main_panel > div >  a.red_link.project:hover:after {
	background: transparent url('/img/arrow_red.png') no-repeat;
}

ul.footer > li > a.footer_triangle:hover:after, div.login > a.forgot_password:hover:after, a.beige_bg:after {
	background: transparent url('/img/arrow.png') no-repeat;
}

ul.footer > li > a.footer_triangle:hover {
	color: #fff5c3;
}

h4.panel-title > a, h4.panel-title > a:hover, h4.rsvp_title {
	font-size: 1em;
	color: #7c786a;
}

ul.edit_account_nav > li > a:hover {
	color: #d4fdf5;
}

ul.edit_account_nav > li > a.active {
	background-color: #66a498;
}

h4.article_heading > a, 
h4.article_heading > a:visited, 
h4.article_heading > a:active, 
h4.carousel_heading > a, 
h4.carousel_heading > a:visited, 
h4.carousel_heading > a:active, 
h4.event_heading > a, 
h4.event_heading > a:visited, 
h4.event_heading > a:active, 
h4.rfp_heading > a, 
h4.rfp_heading > a:visited, 
h4.rfp_heading > a:active, 
h4.event_heading_dash > a, 
h4.event_heading_dash > a:visited, 
h4.event_heading_dash > a:active,
a.green_bg, 
a.green_bg:visited, 
a.green_bg:active, 
a.beige_bg, 
a.beige_bg:visited, 
a.beige_bg:hover, 
a.beige_bg:active {
	color: #7c786a;
}

h4.article_heading > a:hover, h4.carousel_heading > a:hover, h4.event_heading > a:hover, h4.event_heading_dash > a:hover, h4.rfp_heading > a:hover {
	color: #514e43;
}

a.green_bg, 
a.green_bg:visited, 
a.green_bg:active, 
a.beige_bg, 
a.beige_bg:visited, 
a.beige_bg:hover, 
a.beige_bg:active  {
	font-size: .95em;
	text-transform: uppercase;
	margin-left: 10px;
}

a.red_link, a.red_link:hover, a.red_link:visited, a.red_link:active {
	color: #eb6e44;
}

a.blue_link, a.blue_link:hover, a.blue_link:visited, a.blue_link:active {
	color: #66a498;
}

a.red_link.small_caps {
	text-transform: uppercase;
	font-size: .85em;
}

a.green_link, a.green_link:visited, a.green_link:active {
	color: #b7c483;
	font-size: .9em;
	text-transform: uppercase;
	margin-left: 10px;
}

a.footer {
	color: #dad6c7;
}

ul.footer > li > a.footer_triangle, ul.edit_account_nav > li > a {
	color: #fff;
}

ul.edit_account_nav > li > a {
	font-size: 1.25em;
	line-height: 2.5em;
	width: 100%;
	display: inline-block;
	padding: 0px 15px;
}

a.forgot_password {
	color: #fff5c3;
	display: block;
	text-align: center;
	margin-left: 10px;
}

a.forgot_password:active, a.forgot_password:visited {
	color: #fff;
}

a, a:hover, a:visited, a:active {
	text-decoration: none !important;
}

/*Images*/
.logo {
	width: 60px;
	margin-right: 20px;
}

.social_media_icon {
	width: 30px;
}

.logo.randi {
	width: 45px;
}

.user_avatar {
	margin-top: 7px;
	width: 40px;
	border: 1px solid #514e43;
}

.user_avatar_grid {
	margin-top: 8%;
	border: 1px solid #d3e397;
}

.profile_photo_home {
	margin-bottom: 5px;
}

img.manage_users {
	margin-top: 20px;
}

img.dash_connection {
	width: 50px;
	height: 50px;
}

img.company_profile {
	object-fit: contain;
	width: inherit;
}

img.articles, img.articles_full, img.articles_grid, img.carousels_grid, img.events_grid, img.events_dash {
	object-fit: cover;
	border: 1px solid #7c786a;
}

img.articles_grid, img.carousels_grid, img.events_grid, img.events {
	margin: 15px auto 0 auto;
}

img.events_dash, img.all_leaders {
	max-height: 75px;
	max-width: 75px;
	vertical-align: middle;
}

img.articles {
	width: 100px;
	height: 100px;
	margin-top: 12px;
}

img.articles_full {
	width: 100%;
	max-height: 300px;
	margin-top: 10px;
}

img.hiring {
	width: 100%;
	height: auto;
	border: 1px solid #eb6e44;
	margin: 15px 0;
}

img.project_showcase {
	margin-top: 16px;
	width: 100%;
	border: 1px solid #66a498;
}

img.connection_thumb {
	width: 65px;
	height: 65px;
}

img.current_company_header {
	margin: 15px 0;
	width: 100%;
	height: auto;
}

img.current_company_profile, img.current_leader_headshot {
	margin-top: 15px;
	margin-bottom: 15px;
	width: 100px;
	height: auto;
}

img.connections_grid {
	margin-top: 20px;
}

div.leader_headshot {
	width: 100px;
	height: 100px;
	overflow: hidden;
	margin: auto;
}

.glyphicon.glyphicon-ok {
	font-size: .75em;
	margin-right: 10px;
	color: #d3e397;
}

/*Buttons*/

a.cancel_button, a.cancel_button:visited, a.cancel_button:active, a.edit_button, a.edit_button:visited, a.edit_button:active, a.create_button, a.create_button:visited, a.cancel_button:active {
	color: #fff;
	font-size: 1.15em;
	text-transform: uppercase;
	padding: 6px 12px;
	margin-right: 10px;
}

a.edit_button, a.edit_button:visited, a.edit_button:active {
	background-color: #b7c483;
}

a.create_button, a.create_button:visited, a.cancel_button:active {
	background-color: #8dcdc1;
}

a.cancel_button, a.cancel_button:visited, a.cancel_button:active{
	background-color: #514e43;
}

a.create_button:hover {
	background-color: #66a498;
}

a.cancel_button:hover {
	background-color: #7c786a;
}

a.edit_button:hover {
	background-color: #d3e397;
}

button.btn.btn-primary.pull-right, 
button.btn.btn-primary.connect, 
button.btn.btn-info.connect, 
button.btn.btn-primary.pull-right.login, 
button.btn.btn-info.pull-right, 
button.btn.btn-danger.pull-right {
	border-style: none;
	border-radius: 0;
	text-transform: uppercase;
	text-shadow: 0 0 0 #237666;
	margin-bottom: 10px;
	font-size: 1.15em;
}

button.btn.btn-primary.pull-right, button.btn.btn-primary.pull-right.login {
	background-color: #66a498;
	border-color: #fff5c3;
	color: #fff;
}

button.btn.btn-info.pull-right {
	background-color: #b7c483;
}

button.btn.btn-danger.pull-right {
	background-color: #c65c39;
	margin-right: 10px;
}

button.btn.btn-danger.pull-right:hover {
	background-color: #eb6e44;
}

button.btn.btn-primary.pull-right.login {
	background-color: #8dcdc1;
}

button.btn.btn-primary.pull-right.login, button.btn.btn-primary.connect, button.btn.btn-info.connect {
	width: 100%;
}

button.btn.btn-primary.pull-right.login:hover, button.btn.btn-primary.pull-right:hover {
	background-color: #82bab0;
}

button.btn.btn-primary.connect {
	border: 1px solid #b7c483;
	background-color: #d3e397;
	color: #568b80;
}

button.btn.btn-info.connect {
	border: 1px solid #8dcdc1;
	background-color: #66a498;
	color: #fff;
}

.cancel_button.pull-right.delete_user, .btn.btn-danger.pull-right.delete_user {
	margin-top: 15px;
}

div.connect {
	margin-top: 16px;
}

.btn:focus {
	outline: none;
}

/*Forms*/
textarea {
	width: 100%;
	padding: 10px;
	resize: none;
}

form#search_form, div.panel_white.event_search, .rfp_search {
	background-color: #fff;
	border: 1px solid #d3e397;
}

div.panel_white.event_search, .panel_white.rfp_search, .panel_white.button_space {
	padding: 10px 30px 60px 30px;
}

form#search_form {
	padding: 30px;
	margin-top: 20px;
}

p.form_label_small {
	font-size: .8em;
	color: #66a498;
}

label.login {
	color: white;
	font-weight: 400;
}

div.form-group > label {
	color: #7c786a;
}

input.form-control.login {
	border-style: none;
	text-align: center;
}

input.form-control, textarea {
	border: 1px solid #d3e397;
	border-radius: 0;
	box-shadow: none;
}

input.login_checkbox {
	border-radius: 0;
}

input.form-control.included {
	margin-top: 5px;
}

.form-control.search_form {
	width: 48%;
	margin-right: 0;
	display: inline-block;
}

.form-group.half_width {
	width: 49.65%;
	display: inline-block;
}

select.form-control.search_form {
	height: 35px;
}

select.form-control.event_search_form{
	margin-top: 10px;
}

.form-group > select {
	border: 1px solid #d3e397;
	border-radius: 0;
	box-shadow: none;
}

.form-control:focus {
	border: 1px solid #d3e397;
	box-shadow: none;
	-webkit-box-shadow: none;
}

::-webkit-input-placeholder{
	color: #514e43;
	opacity: 0.8;
	letter-spacing: .5px;
	font-size: 1.1em;
}

:-moz-placeholder {
	color: #514e43;
	opacity: 0.7;
	letter-spacing: .5px;
	font-size: 1.1em;
} 

::-moz-placeholder {
	color: #514e43;
	opacity: 0.8;
	letter-spacing: .5px;
	font-size: 1.1em;
} 

:-ms-input-placeholder {
	color: #514e43;
	opacity: 0.8;
	letter-spacing: .5px;
	font-size: 1.1em;
}

.checkbox_login {
	width: 100%;
	display: block;
	text-align: center;
	margin-bottom: 7px;
}

.checkbox-inline {
	color: #66a498;
	margin-bottom: 10px;
}

@-webkit-viewport { width: device-width; }
@-moz-viewport    { width: device-width; }
@-ms-viewport     { width: device-width; }
@-o-viewport      { width: device-width; }
@viewport         { width: device-width; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	padding-right: 8px;
	padding-left: 8px;
}

/*gray: #7c786a;
dark gray (text): #514e43;
blue: #8dcdc1;
dark blue: #66a498;
green: #d3e397;
beige: #fff5c3;
brick: #eb6e44;
dark brick: #c65c39*/