/*Divs and Page Structure*/
.container {
	width: 90%;
	height: auto;
	margin-bottom: 30px;
}

html {
	height: 100%;
}

.footer.container {
	width: 60%;
	padding-top: 20px;
	padding-bottom: 20px;
}

body {
	background-color: #fffef4;
	color: #514e43;
	height: 100%;
	display: table;
}

footer {
	width: 100%;
	height: 1px;
	background-color: #7c786a;
	display: table-row;
}

div#login {
	position: absolute;
	min-width: 550px;
	height: auto;
	left: 50%;
	transform: translate(-50%, 48%);
}

div.login {
	background-color: #eb6e44;
	padding: 50px 75px;
	position: relative;
}

div.home_panel {
	background-color: #fff;
	padding: 10px 25px 20px 25px;
	border: 1px solid #d3e397;
}

div.twitter {
	margin-top: 16px;
}

div.carousel_bar {
	background-color: #c65c39;
	height: 100%;
}

/*Text*/
body {
	font-family: 'Source Sans Pro', sans-serif;
}

h3.login {
	font: 1.25em 'Roboto Slab', serif;
	color: #fff5c3;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding-top: 0;
	margin-top: 0;
	margin-bottom: 15px;
}

h1, h2, h3, h4 {
	font-family: 'Roboto Slab', serif;
	color: #7c786a;
}

h1 {
	font-size: 1.7em;
	font-weight: 700;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.3em;
	color: #66a498;
	margin-bottom: 20px;
}

h4 {
	font-size: 1.1em;
}

h4.footer {
	color: #d3e397;
}

p.company_name {
	color: #c65c39;
	font-weight: bold;
	font-size: 1.25em;
	margin-bottom: 0;
	margin-top: 15px;
}

p.industry_name_home {
	font-size: .9em;
	margin-bottom: 5px;
}

p.company_desc_home {
	font-size: .85em;
	line-height: 1.25em;
}

span.industry_name_home{
	font-weight: bold;
	color: #66a498;
}

span.strong {
	font-weight: bold;
}

.footer_text {
	line-height: .5em;
	color: #dad6c7;
}

.footer_head {
	margin-bottom: 5px;
	font-weight: 700;
	color: #dad6c7;
}

ul.footer {
	list-style: none;
	padding-left: 0;
}

a, a:hover, a:visited, a:active {
	text-decoration: none;
}

a.footer {
	color: #dad6c7;
}

ul.footer > li > a.footer_triangle {
	color: #fff;
}

ul.footer > li > a.footer_triangle:after{
	content: "";
	display: inline-block;
	background: transparent url('/img/arrow_gray.png') no-repeat;
	height: 11px;
	width: 10px;
	margin-bottom: -3px;
	margin-left: 5px;
}

ul.footer > li > a.footer_triangle:hover:after{
	content: "";
	background: transparent url('/img/arrow.png') no-repeat;
	height: 11px;
	color: #fff5c3;
	width: 10px;
	margin-bottom: -3px;
	margin-left: 5px;
}

/*Images*/
.logo {
	width: 60px;
	margin-right: 20px;
}

.logo.randi {
	width: 45px;
}

.user_avatar {
	margin-top: 7px;
	border: 1px solid #514e43;
}

.profile_photo_home {
	margin-bottom: 5px;
}

/*Buttons*/
button.btn.btn-primary.pull-right.login {
	background-color: #8dcdc1;
	border-style: none;
	border-color: #fff5c3;
	border-radius: 0;
	width: 100%;
	text-transform: uppercase;
	text-shadow: 0 0 0 #237666;
	color: #fff;
	font-size: 1.15em;
	margin-bottom: 10px;
}

button.btn.btn-primary.pull-right.login:hover {
	background-color: #82bab0;
}

/*Forms*/
p.form_label_small {
	
}

label.login {
	color: white;
	font-weight: 400;
}

input.login {
	border-style: none;
	border-radius: 0;
	text-align: center;
}

input.login_checkbox {
	border-radius: 0;
}

::-webkit-input-placeholder{
	color: #514e43;
	opacity: 0.8;
	letter-spacing: .5px;
	font-size: 1.1em;
}

:-moz-placeholder {
	color: #514e43;
	opacity: 0.8;
	letter-spacing: .5px;
	font-size: 1.1em;
} 

::-moz-placeholder {
	color: #514e43;
	opacity: 0.8;
	letter-spacing: .5px;
	font-size: 1.1em;
} 

:-ms-input-placeholder {
	color: #514e43;
	opacity: 0.8;
	letter-spacing: .5px;
	font-size: 1.1em;
}

.checkbox_login {
	width: 100%;
	display: block;
	text-align: center;
	margin-bottom: 7px;
}

a.forgot_password {
	color: #fff5c3;
	text-decoration: none;
	display: block;
	text-align: center;
}

div.login > a.forgot_password:hover:after {
	content: "";
	position: absolute;
	bottom: 52px;
	right: 143px;
	display: inline-block;
	background: transparent url('/img/arrow.png') no-repeat;
	height: 11px;
	color: #fff5c3;
	width: 10px;	
}

a.forgot_password:active, a.forgot_password:visited {
	color: #fff;
}

@-webkit-viewport { width: device-width; }
@-moz-viewport    { width: device-width; }
@-ms-viewport     { width: device-width; }
@-o-viewport      { width: device-width; }
@viewport         { width: device-width; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	padding-right: 8px;
	padding-left: 8px;
}

/*gray: #7c786a;
dark gray (text): #514e43;
blue: #8dcdc1;
dark blue: #66a498;
green: #d3e397;
beige: #fff5c3;
brick: #eb6e44;
dark brick: #c65c39*/